
#divMainPlayer{margin:0px auto;width:849px;}
#ulPlaylist,#audMainPlayer{background:#777;width:100%;padding:20px;}
#ulPlaylist .active a{color:#5DB0E6;text-decoration:none;}
#ulPlaylist .active div{display:block;}
#ulPlaylist .scripts {background:#FFFFFF;padding:20px;display:none;}
#ulPlaylist li a{color:#eeeedd;background:#333;padding:5px;display:block;}
#ulPlaylist li a:hover{text-decoration:none;}

#smlProgress{color: #888;}

@media screen and (max-width:950px){
	#divMainPlayer{margin:0px;width:90%;}
}
